<div class="container">
<br>
<hr>
<button class="btn btn-primary" (click)="lgAgregar.show()">+ agregar</button>
<hr>

<table id="example" class="display table table-border table-over" width="100%">
  <thead>
    <tr align="center">
      <th>ID</th>
      <th>ocacion</th>
      <th>Editar</th>
      <th>Borrar</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let view of dataArray.ocacion">
      <td>{{view.idocacion}}</td>
      <td>{{view.nombre_oc}}</td>

      <td width="10%"><button (click)="lgModal.show(); console_prueba(view.idocacion,view.nombre_oc)" class="btn btn-primary">editar</button> </td>
      <td width="10%"><button class="btn btn-danger">eliminar</button></td>
    </tr>
  </tbody>
</table>

</div>

<hr>




<!--Modal from edit-->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">EDITAR</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">ID&nbsp;</span>
          <input type="text" class="form-control" placeholder="Ingrese una Ocacion" aria-describedby="basic-addon1" value={{id}} disabled>
        </div>
<br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">OCACION</span>
          <input type="text" class="form-control" placeholder="Ingrese una Ocacion" aria-describedby="basic-addon1" value={{nombre}}>
        </div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary"> Aceptar</button>
          <button (click)="lgModal.hide()" class="btn btn-danger">close</button>
      </div>
    </div>
  </div>
</div>


<!--Modal from add-->


<div bsModal #lgAgregar="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">AGREGAR</h4>
        <button type="button" class="close pull-right" (click)="lgAgregar.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form id="formNewProduct" name="formNewProduct" #productData = "ngForm" (ngSubmit)="addNewProduct(productData.value)">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1" >OCACION</span>
          <input type="text" class="form-control" placeholder="Ingrese una Ocacion" aria-describedby="basic-addon1"  #searchBox id="search-box" (keyup)="search(searchBox.value)" required>
        </div>
        <br>
        <div *ngIf="valor_ocacion" class="alert alert-danger" role="alert">
          <strong>Oh</strong> debe de Ingresar una Ocacion.
        </div>
      </form>
      </div>
      <div class="modal-footer">
          <input  (click)="function_add(searchBox.value)" class="btn btn-primary" type="submit" name="" value="agregar">
          <button (click)="lgAgregar.hide()" class="btn btn-danger">cancelar</button>
      </div>
    </div>
  </div>
</div>
